.form {
  background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 6px;
  margin: 20px auto 0;
  max-width : 400px;
}

.form h1 {
  border-radius: 6px 6px 0 0;
  box-sizing: border-box;
  color: #727678;
  padding-top: 14px;
  margin: 0;
  text-align: center;
}

input[type="password"], input[type="text"], textarea, select{
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-sizing: border-box;
  color: #696969;
  height: 39px;
  margin: 15px 0 0 10%;
  padding-left: 8%;
  width: 80%;
}

textarea {
  height:200px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
}

.ImgSelect, .PrepTime, .CookTime{
  margin: 15px 0 0 10%;
  padding-left: 8%;
  width: 70%;
}

input[type="time"] {
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  height: 30px;
  float: right;
  margin-top: -7px;
}

input[type="file"] {
  height: 39px;
  margin: 15px 0 0 10%;
  padding-left: 8%;
  width: 80%;

}

input[type="submit"] {
  width: 60%;
  height:39px;
  display:block;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-align:center;
  padding-top:4px;
  margin: 25px 20% 15px 20%;
  cursor:pointer;
  border: none;
  background-color: #455b97;
  border-radius: 5px;
}

.forgot {
  color: #7f7f7f;
  display: inline-block;
  float: right;
  font: 12px/1 sans-serif;
  padding-right: 20px;
  position: relative;
  top: 5px;
}
.forgot:hover {
  color: #3b3b3b
}

.title{
  color: #edcccb;
  font-size: 50px;
  margin: 50px 0 50px 0;
  text-align: center;
}

.search{
  display: grid;
  grid-template-columns: 80% 20%;
}

.searchbar {
  grid-column: 1/2;
  grid-row: 1/2;
}
.searchbar input[type="text"] {
  width: 100%;
  margin: 0;
}

.searchbutton {
  grid-column: 2/3;
  grid-row: 1/2;
}
.searchbutton input[type="submit"] {
  width: 100%;
  margin: 0;
  padding-top: 0;
}
